In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
from sklearn.preprocessing import OrdinalEncoder

In [5]:
oe = OrdinalEncoder()

In [6]:
df[['review','education']] = oe.fit_transform(df[['review','education']])

In [7]:
df.head()

   age  gender  review  education purchased
0   30  Female     0.0        1.0        No
1   68  Female     2.0        2.0        No
2   70  Female     1.0        0.0        No
3   72  Female     1.0        0.0        No
4   16  Female     0.0        2.0        No