In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
from sklearn.preprocessing import OrdinalEncoder

In [5]:
oe = OrdinalEncoder()

In [6]:
df[['review']] = oe.fit_transform(df[['review']])

In [7]:
df.head()

   age  gender  review education purchased
0   30  Female     0.0    School        No
1   68  Female     2.0        UG        No
2   70  Female     1.0        PG        No
3   72  Female     1.0        PG        No
4   16  Female     0.0        UG        No

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le = LabelEncoder()

In [10]:
le.fit(df['purchased'])

LabelEncoder()

In [11]:
df['purchased'] = le.transform(df['purchased'])

In [12]:
df.head()

   age  gender  review education  purchased
0   30  Female     0.0    School          0
1   68  Female     2.0        UG          0
2   70  Female     1.0        PG          0
3   72  Female     1.0        PG          0
4   16  Female     0.0        UG          0

In [13]:
df['gender'] = df['gender'].replace({"Male":0,"Female":1})

In [14]:
df.head()

   age  gender  review education  purchased
0   30       1     0.0    School          0
1   68       1     2.0        UG          0
2   70       1     1.0        PG          0
3   72       1     1.0        PG          0
4   16       1     0.0        UG          0